[submodule "3rdparty/spdlog/spdlog"]
	path = 3rdparty/spdlog/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/backwardcpp/backwardcpp"]
	path = 3rdparty/backwardcpp/backwardcpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "3rdparty/EASTL/EASTL"]
	path = 3rdparty/EASTL/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "SOGE-UTEST"]
	path = SOGE-UTEST
	url = https://github.com/GaikanStudio/SOGE-UTEST.git
[submodule "3rdparty/eventpp/eventpp"]
	path = 3rdparty/eventpp/eventpp
	url = https://github.com/wqking/eventpp.git
[submodule "3rdparty/kangaru/kangaru"]
	path = 3rdparty/kangaru/kangaru
	url = https://github.com/gracicot/kangaru.git
[submodule "3rdparty/SDL/SDL"]
	path = 3rdparty/SDL/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/FMOD/FMOD"]
	path = 3rdparty/FMOD/FMOD
	url = https://github.com/GaikanStudio/FMOD-Lib.git
