[submodule "3rdparty/spdlog/spdlog"]
	path = 3rdparty/spdlog/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/EASTL/EASTL"]
	path = 3rdparty/EASTL/EASTL
	url = https://github.com/electronicarts/EASTL.git
